{% extends "core_app/checkout/base.html" %}
{% load static %}
{% block body_block %}


<div>
    <ul class="steps">
        <li class="completed">Cart</li>
        <li>></li>
        <li class="completed">Details</li>
        <li>></li>
        <li class="completed">Shipping</li>
        <li>></li>
        <li class="completed">Payments</li>
    </ul>

    <div class="mb-3 border border-dark rounded shadow-sm">
        <div class="section-heading">
            <h5>Payment Confirmed</h5>
        </div>

        <p>Thank you {{ name }} for shopping at <span class="stick-no-bills-font">Candles</span>. The nature is grateful
            to you. Now that your order is confirmed it will be ready to ship in 2 days. Please check your inbox in the
            future for your order updates.
        </p>

        <div class="btn-custom">
            <a href="/discovery">
                <button type="submit" class="btn btn-success">Back to shopping</button>
            </a>
        </div>
    </div>

</div>

{% endblock %}