{% extends 'core_app/base.html' %}


{% block body_block %}
<div class="base-container container mt-5">
  <h1 class="text-center pb-4 stick-no-bills-font fs-1 h2">{{ item.title }}</h1>
  <div class="row">
    <div class="col-lg d-flex flex-column align-items-center h4">
      <img class="img-fluid" style="width: 433px; height: 433px;" src="{{ item.image }}" alt="{{ item.title }}">
      <p class="free-shipping-info text-center text-success">FREE SHIPPING</p>
    </div>

    <div class="col-lg boxy container py-5">
      <div class="row h6">

        <div class="col-md-6 d-flex flex-column align-items-start pt-5">
          <label for="quantity" class="form-label">Quantity</label>
          <div class="d-flex align-items-center">
            <button class="btn btn-outline-success btn-sm" id="decrement" type="button">-</button>
            <input type="text" id="quantity" class="form-control text-center mx-2" value="1" style="width: 50px;"
              readonly>
            <button class="btn btn-outline-success btn-sm" id="increment" type="button">+</button>
          </div>
        </div>

        <div class="col-md-6 pt-5 d-flex justify-content-end">
          <button class="btn btn-outline-success btn-lg px-5">+ Add to cart</button>
        </div>
      </div>

      <div class="mt-5 col-12 bg-light p-3 border rounded roboto-font fw-normal">
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Burning Time:</strong> {{ item.burn_time }} </p>
        <p><strong>Material:</strong> {{ item.material }}</p>
      </div>
    </div>
  </div>
  {% endblock %}