{% extends "core_app/auth/auth_base.html" %}

{% block body_block %}
<div class="card p-4 align-items-center roboto-font" style="width: 30rem;">
    <h2 class="text-center mb-4">Reset Your Password</h2>
    <form method="POST" action="{% url 'core_app:reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }} <!-- This will render the form fields automatically -->
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
    </form>
    <p class="mt-3 text-center">
        <a href="{% url 'core_app:login' %}">Back to Login</a>
    </p>
</div>
{% endblock %}