{% extends 'core_app/base.html' %}

{% block body_block %}
<div class="container mt-5 h-100">
    <h2 class="text-center mb-4 stick-no-bills-font fs-1 fw-lightbold text-decoration-">About Us</h2>
    <div class="row">
        <div class="col-md-8 offset-md-2 roboto-font text-center">
            <p>
                Welcome to our Candle webshop! We are a passionate team dedicated to providing the best products and
                services to our customers.
            </p>
            <p>
                Our mission is to deliver quality, affordability, and excellent customer support.
            </p>
            <p>
                Stay tuned for more exciting products and features coming soon!
            </p>
        </div>
    </div>
</div>
{% endblock %}