{% extends "core_app/base.html" %}
{% load static %}
{% load mathfilters %}

{% block body_block %}
<div class="container mt-100 mt-60 p-5">
    <div class="row">
        <section class="cart">
            <h1>Your cart items</h1>
            <span class="vart_view">
                <a href="{% url 'core_app:discovery' %}" class="back-to-shopping"><span style="text-align: center;">Back
                        to shopping</span></a>
            </span>

            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td class="product-info">
                            <img src="{{ item.item.image.url }}" alt="Example Image"
                                style="height: 140px; width:140px;">
                            <div>
                                <p>{{ item.item.title }}</p>
                                <form method="post" action="{% url 'core_app:cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.item.id }}">
                                    <input type="hidden" name="method" value="delete">
                                    <button class="remove" type="submit">Remove</button>
                                </form>
                            </div>
                        </td>
                        <td>{{ item.item.price }}€</td>
                        <td>
                            <form method="post" action="{% url 'core_app:cart' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.item.id }}">
                                <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10"
                                    style="width: 40px;" onchange="this.form.submit();">
                            </form>
                        </td>
                        <td>{{ item.item.price |mul:item.quantity }}€</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="cart-summary">
                <div style="width: 50%; display: block; position: relative; float: left;">

                </div>
                <div style="width: 50%; display: block; position: relative; float: right;">
                    <p class="cart_total">Sub-total: <span class="cart_price">{{ "fix this with a loop" }}</span></p>
                    <p>Tax and shipping cost will be calculated later</p>
                    <button class="checkout-btn">Check-out</button>
                </div>

            </div>
        </section>
    </div>

    <div class="row">

    </div>
</div>
{% endblock %}