body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #F5F5ED !important;
}

.stick-no-bills-font {
    font-family: 'Stick No Bills', sans-serif;
    font-weight: 400;
}

.roboto-font {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

.abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;

    transition: scale 0.3s ease-in-out;
}

.material-symbols-outlined.filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;

}

.material-symbols-outlined:hover {
    scale: 1.2;
}

.homepage {
    background-color: #f5f5f5;
    background-image: url('/static/images/candles_4.jpg');
    height: 130vh;
    width: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.base-container {
    height: 100%;
}