<footer class="bg-dark pt-4 w-100">
    <div class="container-fluid">
        <div class="row text-light px-5">
            <div class="border border-1 border-light mb-3"></div>
            <div class="col-md-6">
                <h5 class="navbar-brand stick-no-bills-font fs-1 fw-normal">Candles</h5>
                <p class="abhaya-libre-regular">Candles glow and are kind of warm.</p>
            </div>
            <div class="col-md-6 text-md-end abhaya-libre-regular">
                <h3 class="text-bold text-success">Contact Info</h3>
                <p class="m-0">candles@email.com</p>
                <p class="m-0">070 696 12 55</p>
            </div>
        </div>
        <div class="row footer-bottom py-1 px-5">
            <p class="text-dark m-0">&copy; Candles All Rights Reserved.</p>
        </div>
    </div>
</footer>