<nav class="navbar bg-light px-5">
    <div class="container-fluid d-flex justify-content-between align-items-center"></div>
    <a class="navbar-brand stick-no-bills-font fs-1 fw-normal" href="{% url 'core_app:index' %}">Candles</a>

    <ul class="nav test">
        <li class="nav-item">
            <a class="nav-link text-dark roboto-font fs-4" href="{% url 'core_app:discovery' %}">Discovery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark roboto-font fs-4" href="{% url 'core_app:about' %}">About</a>
        </li>
    </ul>

    <div class="nav">
            {% if user.is_authenticated %}
                <p style="padding-top: 18px; font-size: 14px; font-weight: bold; padding-right: 8px;">Welcome, {{ user.username }}!</p>
                <div class="dropdown">
                    <button class="p-0 border-0 bg-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <span class="material-symbols-outlined text-dark fs-1 me-3">
                            person
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'core_app:logout_success' %}">Logout</a></li>
                    </ul>
                </div>

                <a href="#">
                    <span class="material-symbols-outlined text-dark fs-1">
                        shopping_cart
                    </span>
                </a>
            {% else %}
                <p style="padding-top: 18px; font-size: 14px; font-weight: bold; padding-right: 8px;">Not logged in</p>
            {% endif %}
        <div class="dropdown">
            <button class="p-0 border-0 bg-light" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                <span class="material-symbols-outlined text-dark fs-1 me-3">
                    person
                </span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="{% url 'core_app:login' %}">Login</a></li>
                <li><a class="dropdown-item" href="{% url 'core_app:registration' %}">Register</a></li>
                <li><a class="dropdown-item" href="{% url 'core_app:logout_success' %}">Logout</a></li>
            </ul>
        </div>

        <a href="#">
            {% if cart_count > 0 %}
            <span class="material-symbols-outlined filled text-dark fs-1"">
                shopping_cart
            </span>
            {% else %}
            <span class=" material-symbols-outlined text-dark fs-1">
                shopping_cart
            </span>
            {% endif %}
        </a>
    </div>
</nav>